---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
    <main>
        <h1>This is a page about Meddah</h1>
        <p>I'm Halim Yalcinkaya. I tell stories through light, motion, and code…</p>
    </main>
</BaseLayout>