---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
	<section class="hero__container">
		<h1>There Be Monsters</h1>
		<p>Manifest about the Meddah</p>
	</section>

	<section class="featured__container">
		<h2>Featured Work</h2>
		<ul class="project__list">
			
		</ul>
	</section>
</BaseLayout>
