---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Meddah - There be monsters</title>
	</head>
	<body>
		<main>
            <h1>Is it alive?</h1>
            <h2>Seems so</h2>
        </main>
	</body>
</html>