---
const navLinks = [
    { name: 'Home', href: '/'},
    { name: 'About', href: '/about'},
    { name: 'Projects', href: '/projects'},
    { name: 'Field Notes', href: '/field-notes'}
];
---

<nav class="nav__container">
    <a href="/" class="logo__image">Meddah</a>
    <ul class="nav__list">
        {navLinks.map((link:any) =>(<li><a href={link.href}>{link.name}</a></li>))}
    </ul>
</nav>